<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login</title>
</head>
<body>

<div class="form-content">
    <form class="form-items" method="POST" name="login" th:action="@{/register}">
        <div class="form-input">
            <label for="user_name"></label>
            <input class="primary-input" id="user_name" type="text" placeholder="Full Name" name="user_name">
            <label for="user_email"></label>
            <input class="primary-input" id="user_email" type="email" placeholder="Email" name="email">
            <label for="user_password"></label>
            <input class="primary-input" id="user_password" type="password" placeholder="Password" name="password">
            <label for="user_password-verify"></label>
            <input class="primary-input" id="user_password-verify" type="password" placeholder="Verify password" name="password-verify">
            <label for="user_phone"></label>
            <input class="primary-input" id="user_phone" type="tel" placeholder="Phone number" name="user_phone">
        </div>
        <div class="user-terms">
            <div class="remember">
                By clicking Sign up, you agree to our Terms and have read and acknowledge our Privacy Statement
            </div>
        </div>
        <button class="login_btn" type="submit">Sign up</button>
        <span class="create_account">Already  have an account!<a class="colored_link" th:href="@{/login}" >Sign in</a></span>
    </form>
</div>
</body>
</html>