<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="page_content">
    <div class="context">
        <article th:attr="data-id=${head.id}" class="head">
            <div class="img">
                <a th:href="@{|/article/${head.slug}|}">
                <img class="head-img" th:src="${head.url}">
            </a></div>
            <section class="text-content">
                <a th:href="@{|/article/${head.slug}|}">
                    <div class="type-date" th:attr="data-date=${head.createdAt}">[[${head.category.title}]]</div>
                    <div class="header">
                        [[${head.title}]]
                    </div>
                    <div class="article-contents" th:attr="data-content=${head.content}"></div>
            </a>
                <div class="author-inf">
                    <div class="avatar">
                        <img class="avatar-img" th:src="${head.author.avatarUrl}">
                    </div>
                    <div class="info">
                        <p class="name">
                            [[${head.author.userName}]]
                        </p>
                        <p class="title">
                            [[${head.author.title}]]
                        </p>
                    </div>
                </div>
            </section>
        </article>

        <div class="articles">
            <a th:href="@{/articles}"><div class="show-all">Show All</div></a>
            <div class="item" th:each="article : ${articles}" th:attr="data-id=${article.id}">
                <a th:href="@{|/article/${article.slug}|}">
                    <img th:src="${article.url}" class="item-img">
                    <div class="type-date" th:attr="data-date=${article.createdAt}">[[${article.category.title}]]</div>
                    <div class="header">
                        [[${article.title}]]
                    </div>
                    <div class="article-contents" th:attr="data-content=${article.content}"></div>
                </a>
                <div class="author-inf">
                    <div class="avatar">
                        <img class="avatar-img" th:src="${article.author.avatarUrl}">
                    </div>
                    <div class="info">
                        <p class="name">
                            [[${article.author.userName}]]
                        </p>
                        <p class="title">
                            [[${article.author.title}]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="result-set-content articles">
        <div class="result-set" id="articlesContainer">

        </div>
    </div>

    <div id="no-result" class="no-article" style="display:none;">
        <p>We could not find any article about your search!<a href="/" class="href-a">Go Back</a></p>
    </div>
</div>

<div layout:fragment="page_scripts"></div>
</body>
</html>